@import "bourbon";

@mixin animation($content) {
  -webkit-animation: $content;
  -moz-animation:    $content;
  -o-animation:      $content;
  animation:         $content;
}

@-webkit-keyframes rotating {from {-webkit-transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);}}
@-moz-keyframes rotating {from {-moz-transform: rotate(0deg);}to {-moz-transform: rotate(360deg);}}
@-o-keyframes rotating {from {-o-transform: rotate(0deg);}to {-o-transform: rotate(360deg);}}
@keyframes rotating {from {transform: rotate(0deg);}to {transform: rotate(360deg);}}

.comments {
	/*
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 
              0px -9px 0px 0px rgba(255, 255, 255, 0), 
              10px 0px 30px 0px rgba(0, 0, 0, 0.15), 
              -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
              */
  width: 80%;
  min-height: 150px;
  position: relative;
  margin: 15px auto;
  padding: 20px;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  .loader {
    height: 45px;
    width: 45px;
    border: 4.5px solid rgba(0,0,0,.2);
    border-radius: 50%;
    border-left-color: #000;
    position: absolute;
    top: 70px;
    left: 245.5px;
    @include animation(rotating 0.9s infinite linear);
  }
  .inner {
    display: none;
    .comment {
      border: 1px dashed #ccc;
      padding: 15px;
      min-height: 48px;
      margin-bottom: 10px;
      color: #ccc;
      .avatar {
        width: 48px;
        height: 48px;
        float: left;
      }
      .body {
        margin-left: 55px;
        p {
          color: black;
        }
      }
      &:hover {
        color: rgba(0,39,59,.35);
        background-color: rgba(200,200,200,.1);
        border-style: solid;
      }
    }
  }
}
.add-new {
  margin-bottom: 55px;
  .input {
    display: block;
    width: 475px;
    border: 3px solid #ccc;
    color: #888;
    padding: 8px 10px;
    outline: 0;
    font-family: "Helvetica Neue",arial,sans-serif;
    font-size: 15px;
    &.your-Email {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &.dived {
        margin-top: 2px;
        padding: 9px 10px 11px 10px;
      }
    }
    &.your-msg {
      margin-top: -5px;
      max-width: 475px;
      max-height: 150px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .send-msg {
    border: 3px solid #ccc;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: transparent;
    outline: 0;
    float: right;
    margin-right: -1px;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: #ccc;
    }
  }
}
a {
  color: rgb(102, 179, 78);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}