<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 	column="USER_ID" 	jdbcType="NUMERIC"/>		
		<result property="email"	column="EMAIL" 		jdbcType="VARCHAR"  />
		<result property="pwd"		column="PWD"		jdbcType="VARCHAR" /> 
		<collection property="tag" column="TAG_NAME" javaType="java.util.List" ofType="user"></collection>
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert id="addUser" parameterType="user" keyColumn="USER_ID" keyProperty="userId" useGeneratedKeys="true" >
	 	INSERT
		INTO USERS (EMAIL, PWD)
		VALUES	 (#{email}, #{pwd} )
	 </insert>
	 
	 <insert id="addUserTag" parameterType="user" >
	 	INSERT ALL
	 	<foreach collection="tag" item="item" separator=" ">
		INTO USER_TAG (USER_ID,TAG_NAME) VALUES (#{userId},#{item})
		</foreach>
		SELECT * FROM DUAL
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT
		USER_ID, EMAIL, PWD
		FROM USERS 
		WHERE EMAIL = #{value}
	 </select>
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="getUserList"  parameterType="search"	resultMap="userSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT U.USER_ID , U.EMAIL, UT.TAG_NAME
											FROM USERS U, USER_TAG UT 
												<where>
													<if test="searchKeyword !='' ">
										 				EMAIL like &apos;${searchKeyword}%&apos;
										 				OR 
										 				TAG_NAME like &apos;%${searchKeyword}%&apos;
													</if>
												</where>
											ORDER BY U.USER_ID ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateUser"	parameterType="user" keyColumn="USER_ID" keyProperty="userId" useGeneratedKeys="true" >
	   	UPDATE USERS
	   	<set>
			PWD	=#{pwd}
	   	</set>
	   	WHERE  EMAIL= #{email}
	 </update>
	 
	 <delete	id="deleteUserTag"	parameterType="int" >
	   	DELETE FROM USER_TAG
	   	WHERE USER_ID=#{userId}
	 </delete>
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM (	SELECT U.USER_ID , U.EMAIL, UT.TAG_NAME
											FROM USERS U, USER_TAG UT 
												<where>
													<if test="searchKeyword !='' ">
										 				EMAIL like &apos;${searchKeyword}%&apos;
										 				OR 
										 				TAG_NAME like &apos;%${searchKeyword}%&apos;
													</if>
												</where>
											ORDER BY U.USER_ID ) countTable						
	 </select>
	 
</mapper>