<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ContentMapper">
  
  <resultMap id="ContentSelectMap" type="content">
    <result property="contentId"       column="CONTENT_ID"          jdbcType="NUMERIC"/>
    <result property="title"   column="TITLE"        jdbcType="VARCHAR" />
    <result property="fileDesc"     column="FILE_DESC"        jdbcType="VARCHAR" />
    <result property="category"     column="CATEGORY"  jdbcType="VARCHAR" />
    <result property="filePath"     column="FILE_PATH"         jdbcType="VARCHAR"  />
    <result property="regDate"      column="REG_DATE"           jdbcType="DATE" />
  </resultMap>
  
  <!-- SQL : INSERT --> <!-- seq_content_brd_id.NEXTVAL -->
  <insert   id="addContent"   parameterType="content" >
    INSERT
    INTO CONTENT( TITLE , FILE_DESC , FILE_PATH , REG_DATE) 
    VALUES   (#{title:VARCHAR} , #{fileDesc} , #{filePath:VARCHAR}, SYSDATE )
   </insert>
   

   
</mapper>